/* Обновленные стили для увеличения интерфейса */
.bio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#ffecd2, #fcb69f);
    padding: 40px; /* Увеличиваем внутренний отступ */
    border-radius: 10px;
    height: 100vh;
}

.avatar-container {
    width: 200px; /* Увеличиваем размер аватара */
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bio-details {
    margin-left: 20px;
    color: #fff;
    text-align: center;
}

.bio-details h2 {
    font-size: 28px; /* Увеличиваем размер заголовка */
    margin-bottom: 10px;
}

.bio-details p {
    font-size: 18px; /* Увеличиваем размер текста */
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px; /* Увеличиваем отступ между кнопками и другими элементами */
}

.button, .random-color-button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 20px 40px; /* Увеличиваем отступы кнопок */
    margin: 10px 0; /* Увеличиваем отступы между кнопками */
    text-decoration: none;
    font-size: 18px; /* Увеличиваем размер шрифта */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover, .random-color-button:hover {
    background-color: #ff4f4f;
}
